body {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  color: white;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/card_img.png") no-repeat center fixed;
  background-size: cover; */
}
html,
body {
  margin: 0px;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../images/background.jpg") no-repeat center fixed;

  /* background-image: linear-gradient(to bottom, #FDF2E9, grey, #1c1c1c); */
  background-size: cover;
  height: 100vh;
}

.mycentered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.front-card {
  background-color: transparent;
  height: 50vh;
  min-height: 50%; /* Fallback for browsers do NOT support vh unit */

  /* box-shadow: 1px 1px 0px grey, 2px 2px 0px grey, 3px 3px 0px grey,
    4px 4px 0px grey, 5px 5px 0px grey, 6px 6px 0px grey; */

  /* Glow effect */
  -webkit-box-shadow: 0 0 10px rgb(235, 129, 43);
  -moz-box-shadow: 0 0 10px rgb(200, 255, 0);
  box-shadow: 0 0 10px rgb(209, 110, 17), 5px 5px 2px grey;
}

.front-content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  font-family: Arial;
  font-size: 17px;
  text-align: center;
}
.avatar img {
  width: 80%;

  border-radius: 2%;
  filter: grayscale(70%);
}

.front-card h2 {
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px teal;
}
.content h2 {
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px teal;
}

.back-card {
  background-color: transparent;
  height: 50vh;
  min-height: 50%; /*Fallback for browsers do NOT support vh unit */
  color: #ffffff;
  font-family: Arial;
  background: #1c1c1c;
  /* Glow effect */
  -webkit-box-shadow: 0 0 10px rgb(235, 129, 43);
  -moz-box-shadow: 0 0 10px rgb(200, 255, 0);
  box-shadow: 0 0 10px rgb(209, 110, 17), 5px 5px 2px grey;
  overflow: auto;  
}

.back-content {
  text-align: center;
  padding: 20px;
  /* font-size : 1.7vh; */
  /* font-size: 1em; */
  margin: 7%;
}

.back-content h4 {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.back-content ul {
  list-style-type: circle;
}
.comp1 {
  text-align: left;
  margin-left: 5%;
}
/* code-like css */
.space {
  margin-left: 2rem;
}
.blue {
  color: #29b6f6;
}
.green {
  color: #9ccc65;
}
.purple {
  color: #ba68c8;
}
.cyan {
  color: #4dd0e1;
}
.red {
  color: #ef5350;
}

.comp3 {
  text-align: center;
  margin-top: 10%;
}

.icon-box {
  backdrop-filter: blur(8px);
  position: relative;
  color: white;
  /* font-size: 24px; */
  height: 40px;
  width: 40px;
  padding: 5px;
  display: inline-block;
  border: 2px solid white;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  /* Glow effect */
  -webkit-box-shadow: 0 0 20px rgb(235, 129, 43);
  -moz-box-shadow: 0 0 20px rgb(200, 255, 0);
  box-shadow: 0 0 20px rgb(209, 110, 17);
}

.icon-box:hover {
  box-shadow: inset 0 50px 0 0 teal;
  color: white;
}
